server {
  listen 80;

  root {{ document_root }}/{{ app_root }};
  index index.html index.htm;

  server_name {{ server_name }};

  location / {
    try_files $uri $uri/ @backend;
  }

  location @backend {
    proxy_pass http://192.168.56.203:8000;
  }
}